#channelTabs-container {
    background: #1A1A1A;
}

/* "Create Roles" menu */
.stickyHeader-1Sunlx {
    background: #1A1A1A;
}
.titleContainer-3fPic2 {
    background: transparent;
}
.header-JUTO-g {
    background: #1A1A1A;;
}

/* "Welcome screen" settings */
.previewContainer-29oeA6 {
    background: transparent;
}