/**
 * @name SoftX+
 * @author Sami
 * @version 1.0.0
 * @description Fork of SoftX
 * @source https://github.com/iamsamiullah/SoftX-plus
*/

@import url('https://iamsamiullah.github.io/SoftX-plus/SoftX+.css');

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
/* Theme imports */
@import url("https://discordstyles.github.io/SoftX-plus/SoftX+.css"); /* Base theme, don't remove*/
@import url("https://discordstyles.github.io/SoftX-plus/RadialGlow.css"); /* RadialGlow effect for avatars*/
/* @import url("https://discordstyles.github.io/SoftX-plus/VerticalUserArea.css"); */


:root {
	/* SoftX+ variables */
	--background-image: url('https://i.imgur.com/Nglfni6.png'); /* Background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
	--background-blur: 0px; /* Blur intensity of --background-image | Must end in px | Default: 0px */

	--accent: 0, 231, 169; /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */

	--channels-width: 260px; /* Width of the channels list. | Default: 260px */
	--guilds-width: 65px; /* Width of the server list. | Default: 65px */
	--members-width: 280px; /* Width of the members list. | Default: 280px */
  --toolbar-height: 70px;

	--server-size: 45px; /* Size of the servers inside the server list. | Default: 45px */
	--chat-avatar-size: 50px; /* Size of the chat avatars. | Default: 50px */

	--glow-intensity: 0; /* Intensity of the glow used around the app*/
	--opacity: .85; /* Opacity of overall app. | Default: .85 */
	--font: 'Inter'; /* Custom font | Default: 'Inter' */

	--avatar-roundness: 50%; /* Roundness for avatars. | 0% = Square, 50% = Circle | Default: 50% */
	--server-roundness: 35%; /* Roundness for servers. | 0% = Square, 50% = Circle | Default: 50% */



	/* RadialStatus veriables */
	--rs-small-spacing: 2px; /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
	--rs-medium-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
	--rs-large-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */

	--rs-small-width: 1.5px; /* Ring width (follows same sizing as above) | Default: 1.5px */
	--rs-medium-width: 2px; /* Default: 2px */
	--rs-large-width: 2px; /* Default: 2px */

  /* Scrollbar Settings */
  --scrollbar-background: #4e4e4e;
  --scrollbar-background-hover: #8e8e8e;
  --scrollbar-background-active: #757575;
  --scrollbar-width: 10px;
}
