/**
 * @name SoftX
 * @author Sami
 * @version 1.0.0
 * @description Fork of SoftX by Gibbu
 * @invite ZHthyCw
 * @authorId 174868361040232448
 * @source https://github.com/iamsamiullah/SoftX
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://iamsamiullah.github.io/SoftX/SoftX.css');
@import url('https://iamsamiullah.github.io/SoftX/RadialGlow.css');
@import url('https://iamsamiullah.github.io/SoftX/VerticalUserArea.css');



:root {
  --background-image: url('https://i.imgur.com/Nglfni6.png'); /* Background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-blur: 0px; /* Blur intensity of --background-image */
  --opacity: 0.85; /* Opacity of overall app. | Default: .85 */
  --accent: 40,209,193; /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
  --glow-intensity: 1; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  --font: Inter; /* Custom font | Default: 'Inter' */
  
  --channels-width: 260px; /* Width of the channels list. | Default: 300px */
  --guilds-width: 60px; /* Width of the server list. | Default: 105px */
  --members-width: 260px; /* Width of the members list. | Default: 280px */
  --server-size: 40px; /* Size of the servers inside the server list. | Default: 50px */
  --chat-avatar-size: 42px; /* Size of the chat avatars. | Default: 32px */
  --toolbar-height: 55px; /* Default: 55px */
  
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 2px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 2px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 1.5px; /* Ring width | Default: 1.5px */
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --avatar-roundness: 50%; /* Roundness for avatars. | 0% = Square, 50% = Circle | Default: 50% */
  --server-roundness: 25%; /* Roundness for servers. | 0% = Square, 50% = Circle | Default: 50% */
  
   
   --settingsiconssize: 18px;
   --settingsiconsgap: 14px;
   
   /* Scrollbar settings */
   --scrollbar-width: 10px; /* Default: 8px */
   --border-radius: 25px; /* Default: 25px */
   --scrollbar-background: #4e4e4e; 
   --scrollbar-background-hover: #8e8e8e;
   --scrollbar-background-active: #757575;
}


/*------- Any custom CSS below here --------------*/

/* HOTFIX FOR MISALIGNED USER-POPOUTS */
.bannerSVGWrapper-qc0szY mask {
    display: none;
}

.userPopout-2j1gM4 .wrapper-1VLyxH::before,
.avatar-3QF_VA::before {
    content: " ";
    font-size: 0px;
    background-color: var(--background-floating);
    float: left;
    border-radius: 50%;
    height: 94px;
    width: 94px;
    margin: -7px;
}

.avatar-3QF_VA::before {
    height: 136px;
    width: 136px;
    margin: -8px;
}

.userPopout-2j1gM4 [class^="avatarWrapper"] .wrapper-1VLyxH,
.avatarHint-k7pYop {
    top: 9px;
}








